{% extends 'template.html' %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <h2>Please enter your schema</h2>
    </div>
    <div class="container px-4 px-lg-5 my-5">
        <button id="button-1" onclick="copyText1()" class="button-2">Example 1</button>
        <button id="button-2" onclick="copyText2()" class="button-2">Example 2</button>
        <button id="button-3" onclick="copyText3()" class="button-2">Example 3</button>
    </div>
    <form action="POST">
        <div class="container px-4 px-lg-5 my-5">
            <textarea  id="json_input" style="height: 400px; width: 100%;" class="col-md-6">Enter your schema...</textarea>
        </div>
    </form>
    <div class="container px-4 px-lg-5 my-5">
        <button class="button-2">Submit</button>
    </div>
</section>
{% endblock %}
